In [18]:
import pandas as pd
import json

In [19]:
with open('indeed_db.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [20]:
# Utiliser json_normalize pour créer un DataFrame en formatant le fichier
df = pd.json_normalize(data)

In [24]:
# Appliquez la fonction à chaque élément de chaque colonne
df = df.apply(lambda x: x.map(lambda y: ','.join(map(str, y)) if isinstance(y, list) else y))

In [29]:
df_no_duplicated = df[~df.duplicated()]

In [30]:
df_no_duplicated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10197 entries, 0 to 19283
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   job_title                        10196 non-null  object
 1   company                          10196 non-null  object
 2   job_location                     10052 non-null  object
 3   zip_code                         4066 non-null   object
 4   salary                           2433 non-null   object
 5   contract_type                    0 non-null      float64
 6   remote                           1866 non-null   object
 7   Langages de Programmation        4312 non-null   object
 8   Bases de Données                 1215 non-null   object
 9   Analyse de Données               512 non-null    object
 10  Big Data                         829 non-null    object
 11  Machine Learning et Data Mining  435 non-null    object
 12  Visualisation de Données         1118 non-null   object
 13  Statistiques                     8 non-null      object
 14  Cloud Computing                  2697 non-null   object
 15  Outils de Développement          4986 non-null   object
 16  Systèmes d'Exploitation          1075 non-null   object
 17  Big Data et Processing           161 non-null    object
 18  Automatisation et Orchestration  2377 non-null   object
 19  Infrastructure as Code (IaC)     697 non-null    object
 20  Sécurité et Réseau               260 non-null    object
 21  Virtualisation                   251 non-null    object
 22  Containers                       1547 non-null   object
 23  Outils de Collaboration          1759 non-null   object
 24  Compétences                      5949 non-null   object
 25  company_size                     6118 non-null   object
 26  company_turnover                 4113 non-null   object
 27  company_industry                 8405 non-null   object
 28  company_headquarter              6176 non-null   object
dtypes: float64(1), object(28)
memory usage: 2.3+ MB

In [33]:
df_no_duplicated.to_json('indeed_final_db.json', orient='records', lines=True)